<div class="your-question">
  <h1><%= @input %></h1>
  <p>- Your question</p>
</div>
<br>
<br>
<br>
<div class="your-coach-answer">
  <h1><%= @answer %></h1>
  <p>- Your coach answer</p>
</div>
<br>
<br>
<br>
<%= link_to "Ask a new question", ask_path %>

